.start_page_container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: 50%;
    /*background-blend-mode: ;*/
}
.light{
    background-image: url(/src/assets/img/exa-logo-light.png);
}

.dark{
    background-image: url(/src/assets/img/exa-logo-dark.png);
}